<div class="content-container">
  <h2 class="titulo-lista">Aqui estão todos os seus periféricos!</h2>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Produto</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of listaProdutos">
        <td>{{ produto.id }}</td>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.desc }}</td>
        <td>{{ produto.preco | currency:'BRL':'symbol':'1.2-2' }}</td>
        <td>
          <button class="btn-editar" [routerLink]="['/alterar', produto.id]">Editar</button>
          <button class="btn-excluir" (click)="excluir(produto.id!)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
